// Fonts
$font-main: "Work Sans", sans-serif;
$font-secondary: "Oxanium", cursive;

// Transition
$transition-duration: 0.5s;
$transition-timing-function: ease;

// Colors
$color-main: #f5fbf2;
$color-accent: #ffce4e;
$color-bg: #1c121f;
$color-main-white: #ffffff;
$color-main-black: #000000;
$color-additional-black: #16091b;
$color-main-gray: #9b9e9a;
$color-additional-gray: #e4dee7;
$color-third-gray: #594d5e;
$color-bg-sliders: #3d2942;

//colors swiper
$color-author: #bdaac1;
$color-counter: #76607a;
$color-current-bid: #c6bfc8;
$color-border-swiper-btn: #fde8b3;
