// Fonts
$font-main: "Work Sans", sans-serif;
$font-secondary: "Oxanium", cursive;

// Transition
$transition-duration: 0.5s;
$transition-timing-function: ease;

// Colors
$color-main: #f5fbf2;
$color-accent: #ffce4e;
$color-bg: #1c121f;
$color-main-white: #ffffff;
$color-main-black: #000000;
$color-additional-black: #16091b;
$color-main-gray: #9b9e9a;
$color-additional-gray: #e4dee7;
$color-third-gray: #594d5e;
$color-bg-sliders: #3d2942;

//colors swiper
$color-author: #bdaac1;
$color-counter: #76607a;
$color-current-bid: #c6bfc8;
$color-border-swiper-btn: #fde8b3;

//how
$color-item-background: #372839;

//popular
$color-code: #c2b5c6;

//keyframe
$animation-duration-appear: 0.6s;
$animation-duration-disappear: 0.3s;

//creators
$color-creators-bg: #302034;
$color-creators-effect: #e03054;
$color-creators-price: #bdaac1;

$transition-duration-effect: 0.8s;
$transition-timing-function-effect: cubic-bezier(0.835, 0.175, 0.675, 0.19); ;
