@use "sass:math";

@import "_reset.scss";

// === font-face ===
@import "_fonts.scss";

// === variables ===
@import "_variables.scss";

// === mixins ===
@import "_mixins.scss";

// === keyframes ===
@import "_keyframes.scss";

// common
*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

.body {
  font-family: $font-main;
  font-weight: 400;

  background-color: $color-bg;
}

.container {
  max-width: 1390px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 24px 64px;
  border: 1px solid $color-accent;

  font-weight: 500;
  font-size: math.div(30px, 16px) + rem;

  background: rgba(233, 215, 167, 0.1);
}

.btn_animation {
  border-color: #ffce4e;
  color: #fff;
  box-shadow: 0 0 40px 40px #ffce4e inset, 0 0 0 0 #ffce4e;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.btn_animation:hover {
  box-shadow: 0 0 10px 0 #ffce4e inset, 0 0 10px 4px #ffce4e;
}

.title-wrapper {
  display: flex;
  justify-content: center;
  & > .section-title {
    position: relative;

    font-family: $font-secondary;
    color: $color-main;
    font-weight: 700;
    font-size: math.div(64px, 16px) + rem;
    line-height: 1em;

    &.highlight::before {
      $size: 110px;

      content: "";

      position: absolute;
      left: math.div($size, -2) + 10px;
      top: math.div($size, -4);

      display: inline-block;
      width: $size;
      height: $size;
      border-radius: 50%;

      z-index: -1;
    }
    &.highlight_purple::before {
      background-color: #8613a5;
    }
    &.highlight_red::before {
      background-color: #e03054;
    }
  }
}

.btn_view {
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  color: $color-main;
  font-weight: 500;
  font-size: math.div(30px, 16px) + rem;

  transition-property: color background-color;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
  &:hover {
    color: $color-main-black;
    background-color: $color-accent;
  }
}

.swiper-slide {
  user-select: none;
}

// Header
.header {
  position: relative;
  &__content {
    & .btn {
      padding: 24px 76px;
      color: $color-main-white;
      font-weight: 600;
      font-size: math.div(28px, 16px) + rem;
      line-height: math.div(36px, 16px) + rem;

      transition-property: color background-color;
      transition-duration: $transition-duration;
      transition-timing-function: $transition-timing-function;

      &:hover {
        color: $color-main-black;
        background-color: $color-accent;
      }
    }
    & .btn:first-child {
      margin-right: 48px;
    }
  }
  &__title {
    margin-top: 30px;
    margin-bottom: 77px;

    font-family: $font-secondary;
    color: $color-main;
    font-weight: 700;
    font-size: math.div(85px, 16px) + rem;
    line-height: math.div(130px, 16px) + rem;

    & > span {
      color: $color-accent;
    }
  }
  &__buttons {
    margin-bottom: 120px;
  }
  &__main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 100px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    width: 45%;

    background: rgba(79, 70, 78, 0.45);
    z-index: -1;
  }
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 38px;
  margin-bottom: 140px;

  & .btn {
    padding: 20px 30px;

    color: $color-accent;
    font-weight: 600;
    font-size: math.div(18px, 16px) + rem;

    transition-property: color background-color;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;

    &:hover {
      color: $color-main-black;
      background-color: $color-accent;
    }
  }
}

.nav {
  &__list {
    display: flex;
  }
  &__link {
    --side-padding: 32px;

    position: relative;

    padding: 10px var(--side-padding);

    color: $color-main;
    font-weight: 500;
    font-size: math.div(18px, 16px) + rem;
    line-height: math.div(21px, 16px) + rem;
    letter-spacing: 0.02em;

    transition: color $transition-duration $transition-timing-function;
    &:after {
      content: "";
      position: absolute;
      display: block;
      height: 2px;
      width: calc(100% - var(--side-padding) * 2);
      margin-top: 8px;
      margin-left: var(--side-padding);

      background-color: $color-accent;
      opacity: 0;
      transition: opacity $transition-duration $transition-timing-function;
      // transition-delay: 0.1s;
    }
    &:hover {
      color: $color-accent;
    }

    &:hover::after {
      opacity: 1;
    }
  }
}

.statistics {
  display: flex;
  column-gap: 102px;

  &__number {
    font-family: $font-secondary;
    color: $color-main;
    font-weight: 700;
    font-size: math.div(62px, 16px) + rem;
    line-height: math.div(78px, 16px) + rem;
  }
  &__name {
    color: $color-main-gray;
    font-size: math.div(24px, 16px) + rem;
    line-height: math.div(35px, 16px) + rem;
  }
}

.nft {
  position: relative;

  &__top {
    position: absolute;
    top: 22px;
    left: 22px;
    right: 22px;
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;

    background: linear-gradient(
      92.8deg,
      rgba(255, 137, 61, 0.09) -52.37%,
      rgba(250, 250, 250, 0.8) 137.41%
    );
    backdrop-filter: blur(8px);
    & .part {
      font-family: $font-secondary;
    }

    & .part__top {
      margin-bottom: 12px;

      color: $color-additional-gray;
      font-weight: 500;
      font-size: math.div(18px, 16px) + rem;
    }

    & .part__bottom {
      color: $color-main-white;
      font-weight: 700;
      font-size: math.div(32px, 16px) + rem;
    }
  }

  &__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 142px;
    padding-left: 60px;
    padding-right: 40px;

    background-color: $color-main-white;

    &-btn {
      padding-left: 45px;
      padding-right: 45px;

      color: $color-main-black;
      font-weight: 700;
      font-size: math.div(24px, 16px) + rem;

      // background-color: $color-accent;
    }
    & .part {
      &__top {
        margin-bottom: 10px;

        color: $color-additional-black;
        font-weight: 600;
        font-size: math.div(28px, 16px) + rem;
      }
      &__bottom {
        color: $color-third-gray;
        font-size: math.div(24px, 16px) + rem;
      }
    }
  }
}

//==== Companies ====
.companies {
  padding-top: 190px;
  padding-bottom: 108px;

  & > .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  // &__svg {
  //   display: flex;
  //   align-items: center;
  // }
}

.coinbase-svg {
  width: 165px;
  & > use {
    transform: translateY(-4px);
  }
}
.binance-svg {
  width: 240px;
}
.bitmex-svg {
  width: 200px;
}

//==== auctions =====
.auctions {
  padding-top: 50px;
  padding-bottom: 80px;

  &__btn-wrapper {
    display: flex;
    justify-content: flex-end;

    margin-bottom: 48px;

    column-gap: 28px;
  }
  &__btn {
    margin-top: 84px;
  }
  & .swiper-wrapper .swiper-slide {
    width: 495px;
  }
}

.auct-swiper {
  &__img-wrapper {
    position: relative;
  }
  &__main-img {
    width: 100%;
    height: 360px;
  }
  &__timer {
    position: absolute;
    left: 0;
    bottom: 0;

    padding: 15px 45px;

    color: $color-main;
    font-weight: 600;
    font-size: math.div(24px, 16px) + rem;

    background: linear-gradient(
      125.33deg,
      rgba(134, 19, 165, 0.9) 18.61%,
      rgba(250, 250, 250, 0.7) 137.4%
    );
  }

  &__info {
    width: 100%;
    margin-top: 28px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &-avatar {
      width: 54px;
      border-radius: 50%;
    }
    &-inner {
      margin-right: auto;
      margin-left: 19px;

      text-align: left;
    }
    &-name {
      color: $color-main;
      font-weight: 500;
      font-size: math.div(28px, 16px) + rem;
    }
    &-author {
      display: inline-block;
      margin-top: 8px;

      color: $color-author;
      font-weight: 400;
      font-size: math.div(20px, 16px) + rem;
    }
    &-heart {
      width: 28px;
      height: 26px;
      margin-right: 9px;
    }
    &-counter {
      color: $color-counter;
      font-weight: 400;
      font-size: math.div(32px, 16px) + rem;
    }
  }

  &__bid {
    width: 100%;
    margin-top: 28px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    &-current {
      color: $color-current-bid;
      font-weight: 400;
      font-size: math.div(24px, 16px) + rem;
    }
    &-price {
      font-family: $font-secondary;
      color: $color-main;
      font-weight: 700;
      font-size: math.div(24px, 16px) + rem;
    }
  }
  &__btn {
    width: 100%;
    margin-top: 40px;

    border-color: $color-border-swiper-btn;

    color: $color-main-white;
    font-weight: 500;
    font-size: math.div(24px, 16px) + rem;

    transition-property: color background-color border-color;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;

    &:hover {
      color: $color-main-black;
      background-color: $color-accent;
      border-color: $color-accent;
    }
  }
}
// Swiper
.swiper {
  /* width: 500px; */
  // height: 691px;
  margin-top: 84px;
}

.swiper-slide {
  width: 495px;
  padding: 32px;

  text-align: center;
  font-size: 18px;
  background: $color-bg-sliders;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper-slide img {
  display: block;
  // width: 100%;
  // height: 100%;
  // object-fit: contain;
}

.swiper-button-prev1,
.swiper-button-next1 {
  display: inline-block;

  width: 54px;
  height: 54px;

  background-image: url("../img/arrow-right.svg");

  &:hover {
    cursor: pointer;
  }
  &.swiper-button-disabled {
    opacity: 0.4;
    &:hover {
      cursor: initial;
    }
  }
}

.swiper-button-prev1 {
  transform: rotate(180deg);
}

// how
.how {
  margin-top: 174px;

  &__list {
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-row {
      margin-top: 51px;
      height: 10px;
    }
  }

  &__img-wrapp {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 105px;
    height: 105px;
    border-radius: 50%;
    // padding: 25px;

    background-color: $color-item-background;
  }

  &__item-heading {
    margin-top: 32px;

    color: $color-accent;
    font-weight: 600;
    font-size: math.div(24px, 16px) + rem;
  }
}

//popular
.popular {
  margin-top: 210px;
  padding-bottom: 104px;

  // & > .container {
  //   max-width: 100%;
  //   // padding: 0;
  //   // margin: 0;
  // }

  &__btn {
    margin-top: 84px;
  }

  .swiper-wrapper &__slide {
    padding: 36px;
    width: 525px;
    // height: 432px;
    // opacity: 0.4;
    animation: disappearSlide $animation-duration-disappear forwards;

    // animation-fill-mode: backwards;
    &.swiper-slide-active {
      animation: appearSlide $animation-duration-appear forwards;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;

    width: 100%;
  }

  &__avatar {
    border-radius: 50%;
  }

  &__author-link {
    margin-left: 16px;
    margin-right: auto;

    color: $color-main;
    font-weight: 500;
    font-size: math.div(32px, 16px) + rem;
  }

  &__code {
    color: $color-code;
    font-weight: 600;
    font-size: math.div(20px, 16px) + rem;
  }

  &__button {
    position: absolute;
    top: 50%;

    width: 54px;
    height: 54px;

    background-image: url("../img/arrow-right.svg");
    z-index: 10;
    cursor: pointer;

    &.swiper-button-disabled {
      // display: none;
      cursor: inherit;

      animation: disappearNavigationBtn $animation-duration-disappear forwards;
    }
  }

  &__button-prev {
    left: 10px;

    transform: translateY(-50%) rotate(180deg);

    animation: appearNavigationBtn $animation-duration-appear forwards;
  }

  &__button-next {
    right: 10px;

    transform: translateY(-50%);

    animation: appearNavigationBtn $animation-duration-appear forwards;
  }
}

// categories

.categories {
  padding-top: 80px;
  padding-bottom: 80px;

  &__btn {
    margin-top: 84px;
  }

  .swiper-wrapper &__slide {
    width: 415px;
    padding: 32px;

    &:hover .categories__btn-bid {
      opacity: 1;
    }
    &:hover .categories__wrapper-img::after {
      opacity: 1;
    }
  }

  &__wrapper-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 3;
  }

  &__wrapper-img::after {
    content: "";

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    // display: none;

    background-color: rgba(0, 0, 0, 0.6);

    z-index: 2;
    opacity: 0;
    transition: opacity $transition-duration $transition-timing-function;
  }

  &__main-img {
    z-index: 1;
  }

  &__btn-bid {
    position: absolute;

    background-color: $color-accent;

    padding: 22px 58px;

    color: $color-main-black;
    font-weight: 600;
    font-size: math.div(24px, 16px) + rem;

    z-index: 3;

    opacity: 0;

    transition-property: opacity box-shadow transform;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;

    &:hover {
      // filter: drop-shadow(8px 8px #c79f3b);
      box-shadow: 8px 8px 2px #c79f3b;
      transform: translate(-8px, -8px);
    }

    &:active {
      box-shadow: 0px 0px 2px #c79f3b;
      transform: translate(0px, 0px);
    }
  }

  &__info {
    width: 100%;
    margin-top: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &-avatar {
      width: 58px;
      border-radius: 50%;
    }
    &-inner {
      margin-right: auto;
      margin-left: 12px;

      text-align: left;
    }
    &-name {
      color: $color-main;
      font-weight: 600;
      font-size: math.div(31px, 16px) + rem;
    }
    &-author {
      display: inline-block;
      margin-top: 8px;

      color: $color-author;
      font-weight: 400;
      font-size: math.div(18px, 16px) + rem;
    }
    &-heart {
      width: 28px;
      height: 26px;
      margin-right: 8px;

      transform: translateY(2px);
    }
    &-counter {
      color: $color-counter;
      font-weight: 400;
      font-size: math.div(24px, 16px) + rem;
    }
  }

  &__bid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 26px;
    &-current {
      color: $color-current-bid;
      font-size: math.div(20px, 16px) + rem;
    }

    &-price {
      font-family: $font-secondary;
      color: $color-main;
      font-weight: 700;
      font-size: math.div(20px, 16px) + rem;
    }
  }
}
