<section class="auctions">
  <div class="container">
    <div class="title-wrapper">
      <h2
        class="section-title highlight highlight_purple"
        data-aos="fade-right"
        data-aos-once="true"
      >
        Live Auctions
      </h2>
    </div>

    <div class="swiper auct-swiper">
      <div class="auctions__btn-wrapper">
        <div class="swiper-button-prev1"></div>
        <div class="swiper-button-next1"></div>
      </div>

      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="auct-swiper__img-wrapper">
            <img
              class="auct-swiper__main-img"
              src="assets/img/auctions/auct1.jpg"
              alt="image auction"
            />
            <div class="auct-swiper__timer">03:18:24</div>
          </div>

          <div class="auct-swiper__info">
            <img
              class="auct-swiper__info-avatar"
              src="assets/img/auctions/avatar.png"
              alt="user's avatar"
            />
            <div class="auct-swiper__info-inner">
              <div class="auct-swiper__info-name">Virtual Art</div>
              <a class="auct-swiper__info-author" href="#">by @wzard</a>
            </div>
            <a class="auct-swiper__info-like" href="#"
              ><svg class="auct-swiper__info-heart">
                <use xlink:href="assets/img/sprite-icons.svg#heart"></use></svg
            ></a>
            <div class="auct-swiper__info-counter">92</div>
          </div>

          <div class="auct-swiper__bid">
            <div class="auct-swiper__bid-current">Current Bid</div>
            <div class="auct-swiper__bid-price">4.89 ETH</div>
          </div>

          <a href="#" class="btn auct-swiper__btn">Place a bid</a>
        </div>

        <div class="swiper-slide">
          <div class="auct-swiper__img-wrapper">
            <img
              class="auct-swiper__main-img"
              src="assets/img/auctions/auct2.jpg"
              alt="image auction"
            />
            <div class="auct-swiper__timer">03:18:24</div>
          </div>

          <div class="auct-swiper__info">
            <img
              class="auct-swiper__info-avatar"
              src="assets/img/auctions/avatar.png"
              alt="user's avatar"
            />
            <div class="auct-swiper__info-inner">
              <div class="auct-swiper__info-name">Virtual Art</div>
              <a class="auct-swiper__info-author" href="#">by @wzard</a>
            </div>
            <a class="auct-swiper__info-like" href="#"
              ><svg class="auct-swiper__info-heart">
                <use xlink:href="assets/img/sprite-icons.svg#heart"></use></svg
            ></a>
            <div class="auct-swiper__info-counter">92</div>
          </div>

          <div class="auct-swiper__bid">
            <div class="auct-swiper__bid-current">Current Bid</div>
            <div class="auct-swiper__bid-price">4.89 ETH</div>
          </div>

          <a href="#" class="btn auct-swiper__btn">Place a bid</a>
        </div>

        <div class="swiper-slide">
          <div class="auct-swiper__img-wrapper">
            <img
              class="auct-swiper__main-img"
              src="assets/img/auctions/auct3.jpg"
              alt="image auction"
            />
            <div class="auct-swiper__timer">03:18:24</div>
          </div>

          <div class="auct-swiper__info">
            <img
              class="auct-swiper__info-avatar"
              src="assets/img/auctions/avatar.png"
              alt="user's avatar"
            />
            <div class="auct-swiper__info-inner">
              <div class="auct-swiper__info-name">Virtual Art</div>
              <a class="auct-swiper__info-author" href="#">by @wzard</a>
            </div>
            <a class="auct-swiper__info-like" href="#"
              ><svg class="auct-swiper__info-heart">
                <use xlink:href="assets/img/sprite-icons.svg#heart"></use></svg
            ></a>
            <div class="auct-swiper__info-counter">92</div>
          </div>

          <div class="auct-swiper__bid">
            <div class="auct-swiper__bid-current">Current Bid</div>
            <div class="auct-swiper__bid-price">4.89 ETH</div>
          </div>

          <a href="#" class="btn auct-swiper__btn">Place a bid</a>
        </div>

        <div class="swiper-slide">
          <div class="auct-swiper__img-wrapper">
            <img
              class="auct-swiper__main-img"
              src="assets/img/auctions/auct1.jpg"
              alt="image auction"
            />
            <div class="auct-swiper__timer">03:18:24</div>
          </div>

          <div class="auct-swiper__info">
            <img
              class="auct-swiper__info-avatar"
              src="assets/img/auctions/avatar.png"
              alt="user's avatar"
            />
            <div class="auct-swiper__info-inner">
              <div class="auct-swiper__info-name">Virtual Art</div>
              <a class="auct-swiper__info-author" href="#">by @wzard</a>
            </div>
            <a class="auct-swiper__info-like" href="#"
              ><svg class="auct-swiper__info-heart">
                <use xlink:href="assets/img/sprite-icons.svg#heart"></use></svg
            ></a>
            <div class="auct-swiper__info-counter">92</div>
          </div>

          <div class="auct-swiper__bid">
            <div class="auct-swiper__bid-current">Current Bid</div>
            <div class="auct-swiper__bid-price">4.89 ETH</div>
          </div>

          <a href="#" class="btn auct-swiper__btn">Place a bid</a>
        </div>
      </div>
    </div>

    <a href="#" class="btn btn_view auctions__btn">View All</a>
  </div>
</section>
