<section class="categories">
  <div class="container">
    <div class="title-wrapper">
      <h2
        class="section-title highlight highlight_purple"
        data-aos="fade-right"
        data-aos-once="true"
      >
        Explore By Categories
      </h2>
    </div>

    <div class="swiper categories__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide categories__slide">
          <div class="categories__wrapper-img">
            <img
              class="categories__main-img"
              src="assets/img/categories/collage1.jpg"
              alt="collage human's face"
            />

            <a href="#" class="btn categories__btn-bid">Place a Bid</a>
          </div>

          <div class="categories__info">
            <img
              class="categories__info-avatar"
              src="assets/img/categories/avatar1.png"
              alt="user's avatar"
            />
            <div class="categories__info-inner">
              <div class="categories__info-name">Virtual Art</div>
              <a class="categories__info-author" href="#">by @wzard</a>
            </div>
            <a class="categories__info-like" href="#"
              ><svg class="categories__info-heart">
                <use xlink:href="assets/img/sprite-icons.svg#heart"></use></svg
            ></a>
            <div class="categories__info-counter">92</div>
          </div>

          <div class="categories__bid">
            <div class="categories__bid-current">Current Bid</div>
            <div class="categories__bid-price">4.89 ETH</div>
          </div>
        </div>
        <div class="swiper-slide categories__slide">
          <div class="categories__wrapper-img">
            <img
              class="categories__main-img"
              src="assets/img/categories/collage2.jpg"
              alt="collage human's face"
            />

            <a href="#" class="btn categories__btn-bid">Place a Bid</a>
          </div>

          <div class="categories__info">
            <img
              class="categories__info-avatar"
              src="assets/img/categories/avatar1.png"
              alt="user's avatar"
            />
            <div class="categories__info-inner">
              <div class="categories__info-name">Virtual Art</div>
              <a class="categories__info-author" href="#">by @wzard</a>
            </div>
            <a class="categories__info-like" href="#"
              ><svg class="categories__info-heart">
                <use xlink:href="assets/img/sprite-icons.svg#heart"></use></svg
            ></a>
            <div class="categories__info-counter">92</div>
          </div>

          <div class="categories__bid">
            <div class="categories__bid-current">Current Bid</div>
            <div class="categories__bid-price">4.89 ETH</div>
          </div>
        </div>

        <div class="swiper-slide categories__slide">
          <div class="categories__wrapper-img">
            <img
              class="categories__main-img"
              src="assets/img/categories/collage3.jpg"
              alt="collage human's face"
            />

            <a href="#" class="btn categories__btn-bid">Place a Bid</a>
          </div>

          <div class="categories__info">
            <img
              class="categories__info-avatar"
              src="assets/img/categories/avatar1.png"
              alt="user's avatar"
            />
            <div class="categories__info-inner">
              <div class="categories__info-name">Virtual Art</div>
              <a class="categories__info-author" href="#">by @wzard</a>
            </div>
            <a class="categories__info-like" href="#"
              ><svg class="categories__info-heart">
                <use xlink:href="assets/img/sprite-icons.svg#heart"></use></svg
            ></a>
            <div class="categories__info-counter">92</div>
          </div>

          <div class="categories__bid">
            <div class="categories__bid-current">Current Bid</div>
            <div class="categories__bid-price">4.89 ETH</div>
          </div>
        </div>

        <div class="swiper-slide categories__slide">
          <div class="categories__wrapper-img">
            <img
              class="categories__main-img"
              src="assets/img/categories/collage2.jpg"
              alt="collage human's face"
            />

            <a href="#" class="btn categories__btn-bid">Place a Bid</a>
          </div>

          <div class="categories__info">
            <img
              class="categories__info-avatar"
              src="assets/img/categories/avatar1.png"
              alt="user's avatar"
            />
            <div class="categories__info-inner">
              <div class="categories__info-name">Virtual Art</div>
              <a class="categories__info-author" href="#">by @wzard</a>
            </div>
            <a class="categories__info-like" href="#"
              ><svg class="categories__info-heart">
                <use xlink:href="assets/img/sprite-icons.svg#heart"></use></svg
            ></a>
            <div class="categories__info-counter">92</div>
          </div>

          <div class="categories__bid">
            <div class="categories__bid-current">Current Bid</div>
            <div class="categories__bid-price">4.89 ETH</div>
          </div>
        </div>
      </div>
    </div>

    <a href="#" class="btn btn_view categories__btn">View All</a>
  </div>
</section>
