<section class="companies">
  <div class="container" data-aos="zoom-in" data-aos-once="true">
    <svg class="companies__svg coinbase-svg">
      <use xlink:href="assets/img/sprite-companies.svg#coinbase"></use>
    </svg>
    <svg class="companies__svg blockchain-svg">
      <use xlink:href="assets/img/sprite-companies.svg#blockchain"></use>
    </svg>
    <svg class="companies__svg binance-svg">
      <use xlink:href="assets/img/sprite-companies.svg#binance"></use>
    </svg>
    <svg class="companies__svg bitmex-svg">
      <use xlink:href="assets/img/sprite-companies.svg#bitmex"></use>
    </svg>
  </div>
</section>
