<section class="creators">
  <div class="container">
    <div class="title-wrapper">
      <h2
        class="section-title highlight highlight_red creators__title"
        data-aos="zoom-in"
        data-aos-once="true"
      >
        Top Creators
      </h2>
    </div>

    <ul class="creators__list">
      <li class="creators__item" data-aos="zoom-in-right">
        <a href="#" class="creators__link">
          <div class="creators__left-side">
            <img
              src="assets/img/creators/avatar1.png"
              alt="user's avatar"
              class="creators__avatar"
            />

            <div class="creators__left-inner">
              <div class="creators__name">Wzard Dee</div>
              <div class="creators__price">4.89 ETH</div>
            </div>
          </div>
          <div class="creators__right-side">
            <div class="creators__items-amount">33</div>
            <div class="creators__items">Items</div>
          </div>
        </a>
      </li>
      <li class="creators__item" data-aos="zoom-in-left">
        <a href="#" class="creators__link">
          <div class="creators__left-side">
            <img
              src="assets/img/creators/avatar2.png"
              alt="user's avatar"
              class="creators__avatar"
            />

            <div class="creators__left-inner">
              <div class="creators__name">Wzard Dee</div>
              <div class="creators__price">4.89 ETH</div>
            </div>
          </div>
          <div class="creators__right-side">
            <div class="creators__items-amount">33</div>
            <div class="creators__items">Items</div>
          </div>
        </a>
      </li>
      <li class="creators__item" data-aos="zoom-in-right">
        <a href="#" class="creators__link">
          <div class="creators__left-side">
            <img
              src="assets/img/creators/avatar3.png"
              alt="user's avatar"
              class="creators__avatar"
            />

            <div class="creators__left-inner">
              <div class="creators__name">Wzard Dee</div>
              <div class="creators__price">4.89 ETH</div>
            </div>
          </div>
          <div class="creators__right-side">
            <div class="creators__items-amount">33</div>
            <div class="creators__items">Items</div>
          </div>
        </a>
      </li>
      <li class="creators__item" data-aos="zoom-in-left">
        <a href="#" class="creators__link">
          <div class="creators__left-side">
            <img
              src="assets/img/creators/avatar4.png"
              alt="user's avatar"
              class="creators__avatar"
            />

            <div class="creators__left-inner">
              <div class="creators__name">Wzard Dee</div>
              <div class="creators__price">4.89 ETH</div>
            </div>
          </div>
          <div class="creators__right-side">
            <div class="creators__items-amount">33</div>
            <div class="creators__items">Items</div>
          </div>
        </a>
      </li>
    </ul>

    <a href="#" class="btn btn_view categories__btn">View All</a>
  </div>
</section>
