<header class="header">
  <div class="container">
    <div class="header__top">
      <a href="#" class="logo"
        ><img src="assets/img/logo.png" alt="site's logo" />
      </a>

      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="#" class="nav__link">Explore</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Creators</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Community</a>
          </li>
        </ul>
      </nav>

      <a href="#" class="btn">Connect Wallet</a>
    </div>

    <div class="header__main">
      <div class="header__content">
        <h1 class="header__title">
          Explore, Buy and Sell <span>the Best NFTs!</span>
        </h1>

        <div class="header__buttons">
          <a class="btn" href="#">Explore</a>
          <a class="btn" href="#">Create</a>
        </div>

        <ul class="statistics">
          <li class="statistics__item">
            <div class="statistics__number">32k+</div>
            <div class="statistics__name">Artworks</div>
          </li>
          <li class="statistics__item">
            <div class="statistics__number">20k+</div>
            <div class="statistics__name">Auctions</div>
          </li>
          <li class="statistics__item">
            <div class="statistics__number">12k+</div>
            <div class="statistics__name">Creators</div>
          </li>
        </ul>
      </div>
      <div class="nft header__nft">
        <div class="nft__top">
          <div class="part">
            <div class="part__top">Current bid</div>
            <div class="part__bottom">0.99 ETH</div>
          </div>
          <div class="part">
            <div class="part__top">Ends in</div>
            <div class="part__bottom">25 hrs</div>
          </div>
        </div>
        <img
          class="nft__img"
          src="assets/img/nft-item.jpg"
          alt="decorative nft image"
        />
        <div class="nft__bottom">
          <div class="part">
            <div class="part__top">Artist</div>
            <a href="#" class="part__bottom">@wzard</a>
          </div>
          <a href="#" class="btn nft__bottom-btn">Start Bid</a>
        </div>
      </div>
    </div>
  </div>
</header>
