<section class="how">
  <div class="container">
    <div class="title-wrapper">
      <h2 class="section-title">How it works</h2>
    </div>

    <ul class="how__list">
      <li class="how__item">
        <div class="how__img-wrapp">
          <img class="how__img" src="assets/img/tips/wallet.svg" alt="" />
        </div>

        <h3 class="how__item-heading">Set up your wallet</h3>
      </li>
      <img
        src="assets/img/tips/long-arrow.svg"
        alt="arrow to"
        class="how__item-row"
      />
      <li class="how__item">
        <div class="how__img-wrapp">
          <img class="how__img" src="assets/img/tips/collection.svg" alt="" />
        </div>

        <h3 class="how__item-heading">Set up your wallet</h3>
      </li>
      <img
        src="assets/img/tips/long-arrow.svg"
        alt="arrow to"
        class="how__item-row"
      />
      <li class="how__item">
        <div class="how__img-wrapp">
          <img
            class="how__img"
            src="assets/img/tips/fluent-collection.svg"
            alt=""
          />
        </div>

        <h3 class="how__item-heading">Set up your wallet</h3>
      </li>
      <img
        src="assets/img/tips/long-arrow.svg"
        alt="arrow to"
        class="how__item-row"
      />
      <li class="how__item">
        <div class="how__img-wrapp">
          <img class="how__img" src="assets/img/tips/sales-report.svg" alt="" />
        </div>

        <h3 class="how__item-heading">Set up your wallet</h3>
      </li>
    </ul>
  </div>
</section>
