<section class="popular">
  <div class="container">
    <div class="title-wrapper">
      <h2 class="section-title highlight highlight_red">Popular Collections</h2>
    </div>

    <div class="swiper popular__slider" id="popular-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide popular__slide">
          <img
            src="assets/img/popular-collections/collage1.jpg"
            alt="collage human's face"
            class="popular__img"
          />

          <div class="popular__info">
            <img
              src="assets/img/popular-collections/avatar1.jpg"
              alt="avatar of author"
              class="popular__avatar"
            />

            <a href="#" class="popular__author-link">@wzard</a>

            <div class="popular__code">ERC-721</div>
          </div>
        </div>

        <div class="swiper-slide popular__slide">
          <img
            src="assets/img/popular-collections/collage2.jpg"
            alt="collage human's face"
            class="popular__img"
          />

          <div class="popular__info">
            <img
              src="assets/img/popular-collections/avatar1.jpg"
              alt="avatar of author"
              class="popular__avatar"
            />

            <a href="#" class="popular__author-link">@wzard</a>

            <div class="popular__code">ERC-721</div>
          </div>
        </div>

        <div class="swiper-slide popular__slide">
          <img
            src="assets/img/popular-collections/collage1.jpg"
            alt="collage human's face"
            class="popular__img"
          />

          <div class="popular__info">
            <img
              src="assets/img/popular-collections/avatar1.jpg"
              alt="avatar of author"
              class="popular__avatar"
            />

            <a href="#" class="popular__author-link">@wzard</a>

            <div class="popular__code">ERC-721</div>
          </div>
        </div>

        <div class="swiper-slide popular__slide">
          <img
            src="assets/img/popular-collections/collage2.jpg"
            alt="collage human's face"
            class="popular__img"
          />

          <div class="popular__info">
            <img
              src="assets/img/popular-collections/avatar1.jpg"
              alt="avatar of author"
              class="popular__avatar"
            />

            <a href="#" class="popular__author-link">@wzard</a>

            <div class="popular__code">ERC-721</div>
          </div>
        </div>
      </div>
      <div class="popular__button popular__button-next"></div>
      <div class="popular__button popular__button-prev"></div>
    </div>

    <a href="#" class="btn btn_view popular__btn">View All</a>
  </div>
</section>
