<section class="subscribe">
  <div class="container">
    <div class="title-wrapper">
      <h2 class="section-title">Ready for Next NFT Drop?</h2>
    </div>

    <div class="subscribe__form-wrapper">
      <form action="get" class="subscribe__form">
        <input
          class="subscribe__email"
          type="email"
          id="email"
          size="30"
          placeholder="Input your email"
          required
        />
        <input class="subscribe__submit" type="submit" value="Subscribe" />
      </form>
    </div>
  </div>
</section>
